@font-face {
  font-family: 'azonix';
  src: url(/fonts/azonix/Azonix.otf);
}

@font-face {
  font-family: 'zierschrift';
  src: url(/fonts/ds-zierschrift/DSZierschrift.ttf);
}


/* Your Awesome Styling */
body {
  background: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, a {
  font-family: 'azonix';
  text-decoration: none;
  color: goldenrod;
  /*text-shadow: 1px 1px 8px goldenrod, 1px 1px 8px #ccc;*/
  text-align: center;
}

h1 {
  font-size: 3em;
}

nav {
  background-color: black;
  padding: 10px;
  width: 100vw;
  padding-left: 5em;
}

ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

li {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
}

/* Portfolio Styling */
.lg-backdrop {
  background-color: rgb(0, 0, 0, .7);
}

.lg-toolbar {
  background: goldenrod;
}

section {
  background: goldenrod;
  margin: 1em;
  width: 300px;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.grid {
  width: 90vh;
}

.grid section:hover,
.list section:hover {
  animation: pulse 1s;
}

#lightgallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*default grid view styling*/
.grid section h2,
.grid section p {
  display: none;
}

/*default list view styling*/
.list section img {
  display: none;
}

.list section {
  width: 300px;
}